$containerMaxWidth: 1180px;

:root {
    --swiper-navigation-size: 58px;
}

/* fonts */

$fontStandart: 'Arial, sans-serif';
$OpenSansRegular: 'OpenSans-Regular';
$OpenSansBold: 'OpenSans-Bold';
$OpenSansSemiBold: 'OpenSans-SemiBold';
$InterRegular: 'Inter-Regular';
$InterBold: 'Inter-Bold';

/* color */
$black: #000000;
$white: #ffffff;
$grey54: #545454;
$dark30: #303030;
$blue96: #002d96;
$dark47: #2f3d47;
$grey71: #616a71;
$red00: #ff0000;
$greyC0:#c0c0c0;
$grey69: #696969;
$bliueD0: #49b6d0;
$greyEA: #ccd5ea;
$red11: #b81111;
$blue71: #002271;